<nav id='primary-navigation'>
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "My Blog", posts_path %>
    </li> 
    <li>
      <%= link_to "All Authors", authors_path %>
    </li>
    <div class='pull-right'>
      <li>
        <%= link_to 'Sign Up', new_author_path %>    
      </li>
    </div>
  </ul>
</nav>